* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}

main {
    margin: auto;
    max-width: 1170px;
}
h1 {
    padding: 25px 0 40px;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Titan One', cursive;
    color: rgb(217, 0, 255);
    font-weight: lighter;
}

.conteiner {
    text-align: center;
}

p {
    margin-bottom: 40px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
    
    
}

.padd {
    width: calc(100% / 3);
    height: 80px;
    background-color: white;
    color: white;
    float: left;
    padding: 5px;
    margin: 20px 0;
}

.colonna {
    text-align: middle;
    background-color: black;
    height: 80px;
}

a {
    color: aqua;
    text-decoration: none;
}
.colonna img {
    float: left;
    height: 80px;
}

.font {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Titan One', cursive;
    font-weight: lighter;
    padding-top: 40px;
    font-size: 25px;
    vertical-align: middle;
}

.colonna :not(img) {
    padding-left: 20px;
    font-size: 14px;
}

